.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-main-div {
    display: flex;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.footer-list {
    min-width: 231px;
    margin-top: 20px;
    padding-left: 0;
}

.footer-studio-name {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-adress {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    &:visited {
        color: rgba(255, 255, 255, 0.6);
    }
}

.adress {
    display: flex;
    flex-wrap: nowrap;
    
}

.footer-contact {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list-item:not(:last-child) {
    margin-bottom: 9px;
}


