/* ----------Переменные---------- */

:root {
    --main-color: #2196F3;
    --text-color: #212121;
    --grey-color: #757575;
}

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #FFFFFF;
    color: var(--text-color);
    line-height: 1.5;
    margin: 0 auto;
}

.list {
    list-style: none;
}


.link {
    text-decoration: none;
}

p, a, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


/* -------------Стилизация Header------------- */

.header {
    background: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* --Стилизация слова WebStudio-- */

.studio-name {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px;
}

.web {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

/* --Стилизация меню навигации-- */

.header-list {
    display: flex;
}

.list-studio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-right: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-right: 50px;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-studio:hover,
.list-studio:focus {
    color: var(--main-color);
}

.list-portfolio:hover,
.list-portfolio:focus {
    color: var(--main-color);
}

.list-contacts:hover,
.list-contacts:focus {
    color: var(--main-color);
}


.current { 
    color: #2196F3;
    position: relative;
}

.current::after {
    content: '';
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -32px;
}

.contact-list {
    display: flex;
    margin-left: 215px;
    margin-right: auto;
}

.contact-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list-icon {
    margin-right: 10px;
}

.envelope {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope:hover, 
.envelope:focus {
    fill: #2196F3;
}



/* --Стилизация контактов хедера-- */

.header-mail {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-color);
    margin-right: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
   color: var(--main-color);
}

/* -------------Стилизация Main------------- */

/* --Стилизация блока заказа услуг-- */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

.order-hero {
    background: #2F303A;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/order-picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.order-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.order-button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    margin: auto;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.order-button:hover,
.order-button:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* --Стилизация блока особеностей-- */

.feature-section {
    padding-bottom: 0;
}

.feature-list {
    display: flex;
}

.feature-list-item {
    width: 270px;
}

.feature-list-item:not(:last-child) {
    margin-right: 30px;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
}

.feature-item {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: var(--grey-color);
    padding-top: 10px;  
}

.feature-list-item-icon {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.feature-list-icon {
    width: 70px;
    height: 70px;
}

/* --Стилизация блока о работе и команде-- */

.photo-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 50px;
}

.work-block {
    margin-left: auto;
    margin-right: auto;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0; 
}

.work-item:not(:last-child) {
    margin-right: 30px;
}

.work-item {
    position: relative;
    width: 370px;
    height: 294px;
}

.work-item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.team-section {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);  
    margin-bottom: 10px;
}

.member-role {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

.member-box {
    padding-bottom: 16px;
    padding-top: 30px;
}

.member-icon-list {
    padding-bottom: 30px;
}

.member-icon-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-social-icon {
    fill: currentColor;
}

.member-icon-link:hover,
.member-icon-link:focus {
    background-color: #2196F3;
    color: #ffffff;
}

.member-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.member-icon-item:not(:last-child) {
    margin-right: 10px;
}

/* --------Стилизация постоянных клиентов--------- */

.company-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link {
    fill: currentColor;
}

.company-link:hover,
.company-link:focus {
    border: 1px solid #2196F3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #2196F3;
}



.company-item:not(:last-child) {
    margin-right: 30px;
}

/* -------------Стилизация Footer------------- */

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-main-div {
    display: flex;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.footer-list {
    min-width: 231px;
    margin-top: 20px;
    padding-left: 0;
}

.footer-studio-name {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-adress {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-div-list {
    margin-left: 70px;
    padding-top: 0;
    padding-top: 15px;
}

.adress {
    display: flex;
    flex-wrap: nowrap;
    
}

.adress-list {
    display: flex;
}

.icon-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.adress-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link {
    fill: currentColor;
}

.adress-item:not(:last-child) {
    margin-right: 10px;
}

.adress-link:hover,
.adress-link:focus {
    background-color: #2196F3;
}


.footer-contact {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-adress:visited {
    color: rgba(255, 255, 255, 0.6);
}

.footer-list-item:not(:last-child) {
    margin-bottom: 9px;
}


.mailing-wrap {
    margin-top: 12px;
    margin-left: 93px;
}

.mailing-input-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.mailing-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    color: #ffffff;
}

.mailing-btn {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-left: 12px;
}

.mailing-btn-icon {
    fill: #ffffff;
    margin-left: 10px;
}

/* ----------Стилизация портфолио---------- */

/* -- Фильтры -- */

.portfolio-section {
    background-color: #FFFFFF;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    padding-left: 0;
}

.filter-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background: #F5F4FA;
    border-radius: 4px;
    margin-right: 8px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:active {
    background: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    outline-style: hidden;
    color: #FFFFFF;
}

.filter-btn:hover, 
.filter-btn:focus {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #ffffff;
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--text-color);
    margin-bottom: 4px;
    
}

.portfolio-item {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

.active {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: #EEEEEE;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% - 60px) /3);
}

.project-item {
    width: 370px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.project-item:not(:nth-child(3n+3)) {
    margin-right: 30px;
}

.project-item:hover .project-img-text{
    transform: translateY(0);
}

.project-item-wrap {
    position: relative;
    overflow: hidden;
}

.project-img-text {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    color: #ffffff;
    padding: 63px 24px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bg:hover,
.bg:focus {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.project-box {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
}

/*-----------------Модалка-------------- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal {
    transform: scale(0.5);
}

.modal {
    width: 528px;
    min-height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
    fill: var(--main-color);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 40px;
    margin-bottom: 12px;
}

/* -----Стилизация инпутов модалки -----*/

.form-field {
    margin-left: 41px;
    margin-right: 39px;
}

.input-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}

.input-wrap {
    position: relative;
    display: flex;
}

.input-icon {
    display: block;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover, .form-input:focus {
    outline: none;
    border: 1px solid #2196F3;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-input:hover+.input-icon,
.form-input:focus+.input-icon {
    fill: #2196F3;
}

.input-comment {
    width: 100%;
    height: 138px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}

.input-comment::placeholder {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.check-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
}

.check-terms {
    text-decoration-line: underline;
    color: #2196F3;
    margin-left: 3px;
}

.check-text span {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    border: 2px solid #212121;
    border-radius: 2px;;
}

.check-icon {
    fill: transparent;
}

.checkbox:checked + .check-text span {
    border: none;
    background-color: #2196F3;
}

.checkbox:checked + .check-text .check-icon {
    border: none;
    fill: #ffffff;
}



/* Стилизация кнопки модалки - "Отправить" */

.modal-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 10px 55px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}